@model Dash.Areas.Admin.Models.Event
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-11 mb-11">
        <div class="col-12 col-md-6">
            <div class="card shadow-lg bg-gradient-dark">
                
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card shadow-lg bg-gradient-dark">
                <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                    <h1 class="text-gradient text-info ubuntu-bold">Event ID: @Model.EventId Details</h1>
                    <div class="btn-group m-3">
                        <a class="btn bg-gradient-dark text-info shadow-md ubuntu-bold btn-tooltip" asp-action="Index" asp-controller="Event" asp-area="Admin" title="Go back to the event list"><i class="fa-solid fa-backward-step"></i></a>
                        <a class="btn bg-gradient-dark text-warning shadow-md ubuntu-bold btn-tooltip" asp-action="UpdateEventPage" asp-controller="Event" asp-area="Admin" asp-route-id="@Model?.EventId" title="Edit Event ID: @Model?.EventId"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form asp-action="DeleteEvents" asp-controller="Event" asp-area="Admin" asp-route-id="@Model?.EventId" method="post">
                            <button type="submit" class="btn bg-gradient-dark text-danger shadow-md ubuntu-bold btn-tooltip" title="Delete @Model?.Title"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
                <div class="card-body p-4">
                    <h3 class="text-white ubuntu">
                        <span class="text-gradient text-info ubuntu-bold">Title</span><br>
                        @Model.Title
                    </h3>
                    <h6 class="text-white ubuntu">
                        <span class="text-gradient text-info ubuntu-bold">Time Frame</span><br>
                        @Model.StartDate.ToString("d") - @Model.EndDate.ToString("d")
                    </h6>
                    <p class="text-white ubuntu">
                        <span class="text-gradient text-info ubuntu-bold">Background Color</span><br>
                        <input type="color" class="form-control color-background bg-gradient-dark" disabled="disabled" value="@Model.Color"/>
                    </p>
                    <p class="text-white ubuntu">
                        <span class="text-gradient text-info ubuntu-bold">Foreground Color</span><br>
                        <input type="color" class="form-control color-background bg-gradient-dark" disabled="disabled" value="@Model.ForegroundColor"/>
                    </p>
                    <p class="text-white ubuntu">
                        <span class="text-gradient text-info ubuntu-bold">Event Description</span>
                        <br>
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

