@using Dash.Areas.Identity.Models
@using Dash.Areas.Admin.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Dash.Areas.Admin.Models.IndexViewModel
@{
    Layout = "_Layout";
    AppUser activeUser = ViewBag.user;
}

@*<div class="row mt-11 mb-3" xmlns="">
    <div class="col-12 col-md-12 col-lg-6">
        <div class="row mt-2 mb-2">
            <div class="col-12 col-md-4 mt-1">

                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon moss">
                            <i class="fa-solid fa-money-bill-trend-up text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Campaigns</p>
                        <h3 class="card-title moss-text me-3 ubuntu-bold">
                            <small>@Model.CampaignCount</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-circle-exclamation text-gradient text-danger"></i>-->
                            <!--            <a href="#">Get More Space...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon violet">
                            <i class="fa-regular fa-note-sticky text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Campaign Notes</p>
                        <h3 class="card-title violet-text me-3 ubuntu-bold">@Model.CampaignUserNoteCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-regular fa-calendar-days text-gradient text-primary"></i> Last 24 Hours-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon steel-gray">
                            <i class="fa-solid fa-list-check text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Campaign Tasks</p>
                        <h3 class="card-title steel-gray-text me-3 ubuntu-bold">@Model.CampaignUserTaskCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon cherry">
                            <i class="fa-solid fa-medal text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Leads</p>
                        <h3 class="card-title cherry-text me-3 ubuntu-bold">@Model.LeadCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon striped-blue-green">
                            <i class="fa-solid fa-person-circle-check text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Roles</p>
                        <h3 class="card-title striped-blue-green-text me-3 ubuntu-bold">@Model.RoleCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon aqua-marine">
                            <i class="fa-solid fa-bag-shopping text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Customers</p>
                        <h3 class="card-title me-3 aqua-marine-text ubuntu-bold">@Model.CustomerCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-regular fa-pen-to-square text-gradient text-info"></i> Just Updated-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6">
        <div class="row mt-2 mb-2">
            <div class="col-12 col-md-4 mt-1">

                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon horizon">
                            <i class="fa-solid fa-users-rectangle text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Users</p>
                        <h3 class="card-title horizon-text me-3 ubuntu-bold">
                            <small>@Model.UserCount</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-circle-exclamation text-gradient text-danger"></i>-->
                            <!--            <a href="#">Get More Space...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon maroon">
                            <i class="fa-solid fa-cart-shopping text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Products</p>
                        <h3 class="card-title maroon-text me-3 ubuntu-bold">@Model.ProductCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-regular fa-calendar-days text-gradient text-primary"></i> Last 24 Hours-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon sprite">
                            <i class="fa-solid fa-briefcase text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Jobs</p>
                        <h3 class="card-title sprite-text me-3 ubuntu-bold">@Model.JobCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon blue">
                            <i class="fa-solid fa-list-check text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Events</p>
                        <h3 class="card-title blue-text me-3 ubuntu-bold">@Model.EventCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon sea">
                            <i class="fa-solid fa-list-check text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Campaign Tasks</p>
                        <h3 class="card-title sea-text me-3 ubuntu-bold">@Model.CampaignUserTaskCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-solid fa-location-dot text-gradient text-success"></i> Tracked from Github-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card card-stats bg-gradient-dark shadow-lg">
                    <div class="card-header bg-gradient-dark card-header-icon p-1">
                        <div class="card-icon orange">
                            <i class="fa-solid fa-person text-white"></i>
                        </div>
                        <p class="card-category text-white me-3 ubuntu-bold">Customers</p>
                        <h3 class="card-title me-3 orange-text ubuntu-bold">@Model.CustomerCount</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--            <i class="fa-regular fa-pen-to-square text-gradient text-info"></i> Just Updated-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row mt-7 mb-7">
    <div class="col-12 col-md-12 col-lg-8">

        <ul class="nav nav-tabs dash-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="analytics-tab" data-bs-toggle="tab" data-bs-target="#analytics-tab-pane" type="button" role="tab" aria-controls="analytics-tab-pane" aria-selected="true">Finances</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pie-tab" data-bs-toggle="tab" data-bs-target="#pie-tab-pane" type="button" role="tab" aria-controls="pie-tab-pane" aria-selected="false">Numbers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="bar-tab" data-bs-toggle="tab" data-bs-target="#bar-tab-pane" type="button" role="tab" aria-controls="bar-tab-pane" aria-selected="false">Stats</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="content-tab" data-bs-toggle="tab" data-bs-target="#content-tab-pane" type="button" role="tab" aria-controls="content-tab-pane" aria-selected="false">Content</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="analytics-tab-pane" role="tabpanel" aria-labelledby="analytics-tab" tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg background z-index-2">
                            <div class="card-header p-3 pb-0 bg-gradient-dark">
                                <h6 class="green-text maven-pro-title-low">Company Analytics</h6>
                            </div>
                            <div class="card-body p-3">
                           
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="chart">
                                                        <div id="chartContainer" class="bg-gradient-dark" style="height: 300px; width: 100%;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="chart">
                                                        <div id="barChart" style="height: 300px; width:  100%;"></div>
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <div class="chart">
                                                        <div id="lineChart" style="height: 400px; width: 100%;"></div>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="tab-pane fade" id="pie-tab-pane" role="tabpanel" aria-labelledby="pie-tab" tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg background z-index-2">
                            <div class="card-header p-3 pb-0 bg-gradient-dark">
                                <h6 class="green-text maven-pro-title-low">Profit Percentages</h6>
                            </div>
                            <div class="card-body p-3">
                                <div class="chart">
                                    @*<canvas id="doughnut-chart" class="chart-canvas"></canvas>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bar-tab-pane" role="tabpanel" aria-labelledby="bar-tab" tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg background z-index-2">
                            <div class="card-header p-3 pb-0 bg-gradient-dark">
                                <h6 class="green-text maven-pro-title-low">Company Profit Sums</h6>
                            </div>
                            <div class="card-body p-3">
                                <div class="chart">
                                    @*<div id="barChart" style="height: 500px; width:  100%;"></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-tab-pane" role="tabpanel" aria-labelledby="content-tab" tabindex="0">
                <p class="ubuntu-bold text-white text-wrap p-3 mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda atque cumque dolor dolore dolorem eaque error eum excepturi explicabo in incidunt laudantium modi molestiae numquam perferendis provident quidem rem repudiandae rerum saepe, similique tempora totam unde ut, vel vitae, voluptate! Accusamus accusantium ad aperiam architecto assumenda at cum dolorem dolorum ex facilis impedit ipsam ipsum, iste iusto magni molestias mollitia nam non officiis perspiciatis quam, qui quia recusandae rerum sit soluta suscipit tenetur ullam, velit voluptate! Accusantium aut beatae delectus distinctio dolor dolores doloribus est illo inventore ipsum maxime molestias nostrum perferendis perspiciatis placeat, quibusdam quos sapiente temporibus voluptas.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg card-background-color">
                            <div class="card-header p-3 pb-0 bg-gradient-dark">
                                <h3 class="green-text maven-pro-title-low">Online People</h3>
                            </div>
                            <div class="card-body p-3 clearfix">
                                @foreach (var user in Model.Users)
                                {
                                    <span class="maven-pro-button float-start text-white">@user.Email</span>  <span class="float-end green online-dot"> </span><br/>
                                }
                                <div id="online-users-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card shadow-lg card-background-color">
                            <div class="card-header p-3 pb-0 bg-gradient-dark">
                                <h3 class="green-text maven-pro-title-low">Jobs Assigned</h3>
                            </div>
                            <div class="card-body p-3 clearfix">
                                <table class="table table-hover table-borderless table-striped">
                                    <thead>
                                    <tr class="ubuntu-bold violet-text text-center">
                                        <th>User</th>
                                        <th>Job ID</th>
                                        <th>Job Title</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @if (Model.UserJobs.Count() > 0)
                                    {
                                        @foreach (var jobs in Model.UserJobs)
                                        {
                                            <tr class="ubuntu text-white text-center">
                                                <td>@jobs.User.UserName</td>
                                                <td>@jobs.Job.JobId</td>
                                                <td>@jobs.Job.Title</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="ubuntu-bold text-white text-center">
                                            <td>There are no assigned jobs at this moment.</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <script type="text/javascript">
       document.addEventListener("DOMContentLoaded", function () {


       })
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const chart = new CanvasJS.Chart("chartContainer", {
                theme: "dark2",
                exportFileName: "Company Growth Numbers",
                exportEnabled: true,
                animationEnabled: true,
                title:{
                    text: "Company Growth Numbers",
                    fontColor: "dodgerblue",
                    fontWeight: "bold",
                    fontSize: 22,
                    fontFamily: "Ubuntu"
                },
                legend:{
                    cursor: "pointer",
                    itemclick: explodePie,
                    fontFamily: "Ubuntu",
                    fontWeight: "bold",
                    fontSize: 15,
                },
                toolbar: {
                    itemBackgroundColor: "rgb(22,22,22)",
                    itemBackgroundColorOnHover: "dodgerblue",
                    fontColor: "dodgerblue",
                    fontColorOnHover: "#fff",
                },
                toolTip: {
                    enabled: true,
                    backgroundColor: "rgb(33,33,33)",
                    fontColor: "#fff",
                    borderColor: "dodgerblue",
                    borderThickness: 2,
                    fontFamily: "Ubuntu",
                    fontSize: 13,
                    cornerRadius: 4
                },
                backgroundColor: "rgb(22,22,22)",
                data: [{
                    fillOpacity: 0.9,
                    type: "doughnut",
                    innerRadius: 90,
                    showInLegend: true,
                    toolTipContent: "<b>{name}</b>: {y} (#percent%)",
                    indexLabel: "{name} - #percent%",
                    dataPoints: [
                        { y: @Model.UserCount, name: "Users", color: "dodgerblue" },
                        { y: @Model.CampaignCount, name: "Campaigns", color: "darkorange" },
                        { y: @Model.CustomerCount, name: "Customers", color: "limegreen" },
                        { y: @Model.JobCount, name: "Jobs", color: "indigo" },
                        { y: @Model.LeadCount, name: "Leads", color: "tomato" },
                        { y: @Model.ProductCount, name: "Products", color: "cyan"},
                        { y: @Model.EventCount, name: "Events", color: "yellow" }
                    ]
                }]
            });
            

            function explodePie (e) {
                if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
                } else {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
                }
                e.chart.render();
            }



            const bar = new CanvasJS.Chart("barChart", {
                animationEnabled: true,
                theme: "dark2",
                title: {
                    text: "Company Profit Totals",
                    fontColor: "dodgerblue",
                    fontWeight: "bold",
                    fontSize: 22,
                    fontFamily: "Ubuntu"
                },
                legend:{
                    cursor: "pointer",
                    fontFamily: "Ubuntu",
                    fontWeight: "bold",
                    fontSize: 15,
                },
                toolbar: {
                    itemBackgroundColor: "rgb(22,22,22)",
                    itemBackgroundColorOnHover: "dodgerblue",
                    fontColor: "dodgerblue",
                    fontColorOnHover: "#fff",
                },
                toolTip: {
                    enabled: true,
                    backgroundColor: "rgb(33,33,33)",
                    fontColor: "#fff",
                    borderColor: "dodgerblue",
                    borderThickness: 2,
                    fontFamily: "Ubuntu",
                    fontSize: 13,
                    cornerRadius: 4
                },
                axisY: {
                    title: "Sum"
                },
                backgroundColor: "rgb(22,22,22)",
                data: [{
                    type: "column",
                    showInLegend: true,
                    legendMarkerColor: "grey",
                    dataPoints: [
                        {y: @Model.JobEstimatateTotal, label: "Job Estimate Total", color: "darkorange"},
                        {y: @Model.JobRevenueTotal, label: "Job Revenue Total", color: "dodgerblue"},
                        {y: @(Model.JobRevenueTotal - Model.JobEstimatateTotal), label: "Job Profit Total", color: "limegreen"},
                    ]
                }]
            });
            const line = new CanvasJS.Chart("lineChart", {
                animationEnabled: true,
                theme: "dark2",
                backgroundColor: "rgb(22,22,22)",
                title: {
                    text: "Monthly Sales Data"
                },
                axisX: {
                    valueFormatString: "MMM"
                },
                axisY: {
                    prefix: "$",
                    labelFormatter: addSymbols
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [
                    {
                        type: "column",
                        name: "Actual Sales",
                        showInLegend: true,
                        xValueType: "dateTime",
                        xValueFormatString: "MMM YYYY",
                        yValueFormatString: "$#,##0.##",
                        dataPoints: @Html.Raw(ViewBag.DataPoints1)
                    },
                    {
                        type: "line",
                        name: "Expected Sales",
                        showInLegend: true,
                        xValueType: "dateTime",
                        yValueFormatString: "$#,##0.##",
                        dataPoints: @Html.Raw(ViewBag.DataPoints2)
                    },
                    {
                        type: "area",
                        name: "Profit",
                        markerBorderColor: "white",
                        markerBorderThickness: 2,
                        showInLegend: true,
                        xValueType: "dateTime",
                        yValueFormatString: "$#,##0.##",
                        dataPoints: @Html.Raw(ViewBag.DataPoints3)
                    }]
            });
            

            function addSymbols(e) {
                const suffixes = ["", "K", "M", "B"];
                let order = Math.max(Math.floor(Math.log(Math.abs(e.value)) / Math.log(1000)), 0);

                if (order > suffixes.length - 1)
                    order = suffixes.length - 1;

                const suffix = suffixes[order];
                return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
            }

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }
            line.render();
            chart.render();
            bar.render();

        });
        
    </script>
    <script>
        function loadUsers() {
            $.get("/Admin/Dashboard/Index", function (data = @Model.Users) {
                let userList = $('#online-users-list');
                userList.empty();

                data.forEach(user => {
                    let userStatus = user.IsOnline ?
                        '<span class="float-end green offline-dot"> </span>' :
                        '<span class="float-end cherry offline-dot"> </span>';
                    userList.append(`
                        <li>
                             <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="~/Uploads/AppUsers/${user.ImageUrl}" class="avatar avatar-sm me-3" alt="Picture of ${user.UserName}">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="text-white ubuntu text-xs mb-0">${user.FirstName} ${user.LastName}</p>
                                        <p class="text-white ubuntu text-xs mb-0">${user.UserName}</p>
                                    </div>
                                    <div><p class="text-white ubuntu text-xs mb-0">${userStatus}</p></div>
                                </div>
                        </li>
                    `);
                });
            });
        }
        setInterval(loadUsers, 5000);
        loadUsers();
    </script>
    
}