@model Dash.Areas.Admin.Models.CampaignUserNotes
@{
    Layout = "_Layout";
}

<div class="row mt-7 mb-7">
    <div class="col-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="text-gradient text-warning ubuntu-bold">Update @Model.Campaign.Title's Notes</h1>
                <<div class="btn-group text-sm">
                    <a class="btn bg-gradient-dark violet-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
                       asp-controller="Campaign" asp-area="Admin" title="Go back to campaign list"><i
                            class="fa-solid fa-backward-step"></i></a>
                    <a class="btn bg-gradient-dark green-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
                       asp-controller="Dashboard" asp-area="Admin" title="Go back to admin dashboard"><i class="fa-solid fa-table-columns"></i></a>
                </div>
            </div>
            <div class="card-body p-5">

                <form id="campaignUserNoteForm" class="form" asp-action="UpdateCampaignUserNote" asp-controller="Campaign" asp-route-id="@Model.CampaignUserNoteId" asp-area="Admin" method="post">
                    <div class="row m-2">
                        <div class="col-12 col-md-8 offset-md-1">
                            <div asp-validation-summary="All" class="cherry-text ubuntu-bold list-no-style"></div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="CampaignId" class="form-label text-gradient text-info ubuntu-bold">Campaign</label>
                                <select asp-for="CampaignId" id="CampaignId" value="@Model?.CampaignId" class="form-select form-select-lg bg-gradient-dark text-white ubuntu-bold bg-dark">
                                    @foreach (var campaigns in ViewBag.campaigns)
                                    {
                                        <option value="@campaigns.CampaignId">@campaigns.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId" class="form-label text-gradient text-info ubuntu-bold">User</label>
                                <select asp-for="UserId" id="UserId" value="@Model?.UserId" class="form-select form-select-lg bg-gradient-dark text-white ubuntu-bold bg-dark">
                                    @foreach (var user in ViewBag.users)
                                    {
                                        <option value="@user.Id">@user.UserName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="NoteTitle" class="form-label text-gradient text-info ubuntu-bold">Note Title</label>
                                <input asp-for="NoteTitle" type="text" value="@Model?.NoteTitle"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="NoteContent" class="form-label text-gradient text-info ubuntu-bold">Note Content</label>
                                <div class="main-container">
                                    <div class="editor-container editor-container_classic-editor editor-container_include-style" id="editor-container">
                                        <div class="editor-container__editor">
                                            <textarea asp-for="NoteContent" id="editor" cols="10" rows="10" onload="Notes()"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer m-2">
                        <button type="submit" class="btn violet btn-lg w-100 ubuntu-bold text-white text-2xl">Update Campaign User Note</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function Notes() {
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    initialData: @Html.Raw(Model.NoteContent)
                });
        }
    </script>
}