@model IEnumerable<Dash.Areas.Identity.Models.AppRole>
@{
    Layout = "_Layout";
    var users = ViewBag.users;
}

<div class="row mt-7 mb-7">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="text-gradient text-warning ubuntu-bold">Roles</h1>
                <div class="btn-group">
                    <a class="btn bg-gradient-dark violet-text ubuntu-bold" asp-action="Index" asp-controller="Dashboard" asp-area="Admin" title="Go back to admin dashboard"><i class="fa-solid fa-backward-step"></i></a>
                    <a asp-action="AddRole" asp-controller="Role" asp-area="Identity" class="btn bg-gradient-dark green-text ubuntu-bold btn-tooltip" title="Add a new role"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
            <div class="card-body p-3">
                <table class="table table-hover table-striped table-borderless mb-3">
                    <thead>
                    <tr class="text-center violet-text ubuntu-bold">
                        <th>ID</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Add A Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (dynamic user in users)
                    {
                        <tr class="text-center text-white ubuntu">
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>
                                @if (user?.UserRoles?.Count > 0)
                                {
                                    <ul>
                                        @foreach (dynamic role in user!.UserRoles)
                                        {
                                            <li class="text-white ubuntu-bold list-no-style">@role?.Role.Name</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span class="text-white ubuntu-bold">No roles assigned</span>
                                }
                            </td>
                            <td>
                                <a asp-action="AddRoleToUserPage" asp-controller="Role" asp-area="Identity" asp-route-id="@user?.Id"  class="btn bg-gradient-dark green-text ubuntu-bold btn-tooltip text-xs" title="Add a new role"><i class="fa-solid fa-plus"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <hr class="horizontal violet">
                <table class="table table-hover table-striped table-borderless mt-3">
                    <thead>
                    <tr class="text-center violet-text ubuntu-bold text-lg">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr class="text-center text-white ubuntu text-sm">
                                <td>@role.Id</td>
                                <td>@role.Name</td>
                                <td>
                                    <form asp-action="DeleteRole" asp-controller="Role" asp-route-id="@role.Id" asp-area="Identity" method="post">
                                        <button type="submit" class="btn bg-gradient-dark cherry-text ubuntu-bold text-xs"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
